* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    color: black;
}

/* LEFT PANEL */
.left {
    background-color: rgb(235, 94, 43);

    color: white;

    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-box {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
}

.logo h2 {
    color: white;
}

.left h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: black
}

.left p {
    font-size: 16px;
    /* color: #555; */
    margin-bottom: 25px;
}

.features {
    list-style: none;
}

.features li {
    margin-bottom: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* RIGHT PANEL */
.right {
    padding: 50px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-row a {
    text-decoration: none;
    color: #0f766e;
    font-weight: 500;
}

.right h2 {
    margin-bottom: 5px;
    text-align: center;
}

.right a {
    color: rgb(235, 94, 43);
    font-weight: 700;
    font-size: 20px;
}

.icon-text {
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.subtext {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
}

.divider {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #0f766e;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin-bottom: 20px;
}

.create-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(235, 94, 43);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.create-btn:hover {
    opacity: 0.9;
}